body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea{
    width: 100%;
    height: 200px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

/* th, td{border: 1px solid #ddd; padding: 8px;} */

.high{color: red;}
.medium{color: orange;}
.low{color: green;}

